<% if wiki.private? %>
  <h3>Add Collaborators</h3>
   <%= form_for [wiki, Collaborator.new] do |f| %>
     <%= email_field_tag :collaborator %>
     <%= f.submit "Add Collaborator", class: 'btn btn-primary' %>
   <% end %>
   
   <h3>Manage Collaborators</h3>

   <% wiki.collaborators.each do |f| %>
     <% user = User.find(f.user_id) %>
     <%= user.email %>
     <%= link_to "Delete", wiki_collaborator_path(@wiki, f), class: 'btn btn-danger', method: :delete%>
   <% end %>
<% end %>